.root-container{
    background: url("../../assets/images/arena-populated.png") no-repeat center center fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
}

.body{
    display: flex;
    flex-direction: row;
}

.tower-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 40px 0px 40px;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    margin-top: 20px;
}

.name-header{
    font-family: Quadrit;
    font-size: 3em;
    color: white;
    -webkit-text-stroke: 3px black;
    text-decoration: none;
}